<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @receipt.user_id %>
</p>

<p>
  <b>Claim:</b>
  <%= @receipt.claim_id %>
</p>

<p>
  <b>Chain name:</b>
  <%= @receipt.chain_name %>
</p>

<p>
  <b>Image name:</b>
  <%= @receipt.image_name %>
</p>


<%= link_to 'Edit', edit_receipt_path(@receipt) %> |
<%= link_to 'Back', receipts_url %>

<%= button_to "Get claimID",
              'http://www.dailygobble.com/test/reward/reward_user_uploadreceipt.php?activated=userid=4:selofferid=15:selchainName=404'%>

<br>

<%= form_tag('http://localhost:3000/receipts/') do %>

<div class="field">
    <label for="selclamid">User</label><br />
    <input id="selclamid" size="30" type="number" /></div>
<div class="field">
    <label for="imageName">Image name</label><br />
    <input id="imageName" size="30" type="text" /></div>
<div class="actions">
    <%= button_tag "UPLOAD" %>
</div>

<% end %>
