<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @receipt.user_id %>
</p>

<p>
  <b>Claim:</b>
  <%= @receipt.claim_id %>
</p>

<p>
  <b>Chain name:</b>
  <%= @receipt.chain_name %>
</p>

<p>
  <b>Image name:</b>
  <%= @receipt.image_name %>
</p>


<%= link_to 'Edit', edit_receipt_path(@receipt) %> |
<%= link_to 'Back', receipts_path %>
